@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Onest:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root {
  /* Colors */
  --color-black: rgb(7, 7, 12);
  --color-black-light: rgb(29, 29, 36);
  --color-grey: rgba(236, 237, 250, 0.85);
  --color-dark-grey: rgba(230, 230, 250, 0.15);
  --color-dark-light-grey: rgba(236, 240, 255, 0.4);
  --color-white: #f4f8ff;

  /* Font styling */
  --font-size-small-v2: 0.75rem;
  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --font-size-large: 1.25rem;
  --font-size-xlarge: 1.75rem;
  --font-size-xxlarge: 3.125rem;

  /* Page styling */
  --page-margin-side: 15vw;

  --left-area: 30vw;
  --space-between-left-right: 5vw;
  --left-right-space: calc(var(--left-area) + var(--space-between-left-right));

  --right-area: 35vw;

  /* Box */
  --box-border-radius: 0.375rem;

  /* Box icon styling */
  --box-icon-side-length: 3.125rem;
  --box-icon-border-radius: 0.3125rem;

  /* Box wrapper (shiny outline) */
  --box-wrapper-padding: 0.0625rem;
  --box-wrapper-bg-img: linear-gradient(
    -10deg,
    rgba(255, 240, 249, 0.5) -100%,
    rgba(230, 214, 255, 0.1) 50%,
    rgba(213, 226, 255, 0.5) 100%
  );
  --box-wrapper-border-radius: 0.4375rem;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-white);
  background: var(--color-dark-light-grey);
}

::selection {
  color: var(--color-white);
  background: var(--color-dark-light-grey);
}

* {
  margin: 0;
  padding: 0;

  /* 
    font-family: "Inter", sans-serif;
    
    font-family: "Space Grotesk", sans-serif; */

  text-decoration: none;
  color: var(--color-white);

  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.more-section {
  margin-left: var(--page-margin-side);
  margin-right: var(--page-margin-side);
  padding-top: 100px;
  padding-bottom: 100px;
}

.bio-pfp-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 130px;
  background-image: linear-gradient(
    -20deg,
    rgba(239, 238, 255, 0.6),
    rgba(239, 237, 255, 0.2),
    rgba(255, 255, 255, 0.9)
  );

  padding: 2px;
  position: relative;
}
.bio-pfp {
  /* background-image: url(assets/blue-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center; */

  width: 100%;
  height: 100%;
  border-radius: 129px;
  background-image: url("icons/pfp.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.pfp-emote {
  background-color: rgb(34, 33, 43);
  border: 2px solid rgba(246, 246, 255, 0.424);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

.pfp-emote > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 0.2rem;
}

.background {
  background-image: url(/backgrounds/bg-figma.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  /* background: var(--color-black);
    background: linear-gradient(129deg, var(--color-black-light) 0%, var(--color-black) 61%); */

  width: 100vw;
  height: 100vh;

  position: fixed;

  z-index: -99;
}

.main {
  padding-left: var(--page-margin-side);
  padding-right: var(--page-margin-side);
}

svg {
  width: 25px;
  height: 25px;
}

h1 {
  /* font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
        Helvetica Neue, Arial, sans-serif; */
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-xxlarge);
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-large);

  margin-top: 10px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: var(--font-size-medium);
  line-height: 25px;

  color: var(--color-grey);
}

p {
  font-family: "Inter", sans-serif;
  z-index: 99;
  position: relative;
  font-size: var(--font-size-medium);

  /* color: var(--color-grey); */
}

.p-bold {
  font-weight: 500;
  opacity: 1;
}

.p-italics {
  font-style: italic;
}

.main-right {
  /* display: flex; */
  width: var(--right-area);
  float: right;
}

.main-left {
  position: fixed;

  width: var(--left-area);

  padding-top: 100px;
  padding-bottom: 100px;

  height: calc(100vh - 200px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-left > div:not(:first-child) {
  margin-top: 30px;
}

.page-text-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 30vw;
  margin-right: 30vw;
}

@media screen and (max-width: 1300px) {
  .main-left {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }
  .main-right {
    width: 100%;
  }
  .tob-wrap {
    display: none;
  }

  .page-text-wrapper {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

/* .left-space {
    width: var(--left-right-space);
} */

.right-info {
  /* width: 50vw; */
}

.project-title {
  font-size: var(--font-size-medium);
  font-weight: 600;
}

.img {
  display: grid;
  grid-template-columns: 1fr;

  min-width: -webkit-fill-available;
  min-width: -moz-available;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  border-radius: 5px;

  margin: -20px;

  image-rendering: crisp-edges;
}

.img-shadow {
  height: auto;
  grid-row-start: 1;
  grid-column-start: 1;

  min-width: -webkit-fill-available;
  min-width: -moz-available;
  background-image: linear-gradient(
      rgb(9, 255, 0, 0) 30%,
      var(--color-black-light) 150%
    ),
    linear-gradient(
      to right,
      var(--color-black) 5%,
      rgb(7, 7, 12, 0.8) 20%,
      rgb(7, 7, 12, 0.6) 30%,
      rgb(7, 7, 12, 0) 50%
    );

  opacity: 1;
  transition: 0.2s;

  border-radius: 4px;
}

.box-wrapper:hover .img-light-shadow {
  opacity: 1;
  transition: 0.2s;
}

.project {
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: var(--font-size-small);
  font-weight: 300;

  color: var(--color-grey);

  line-height: 22px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags > p {
  font-size: 12px;

  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;

  margin-top: 5px;
  margin-right: 5px;

  border-radius: 0.3125rem;

  color: var(--color-grey);
}

.tags > p:not(.important) {
  background-color: var(--color-dark-grey);
}

.tags > p.important {
  background-color: var(--color-dark-grey);
}

.section-wrap {
  padding-top: 100px;
  /* height: 120vh; */
}

.section-title {
  line-height: 20px;
  letter-spacing: 1.3px;

  font-size: var(--font-size-small-v2);
  font-weight: 600;

  color: rgba(255, 255, 255, 0.6);
}

.tob-wrap {
  margin-top: 40px;
  padding-left: 10px;
}

.tob-wrap > div:not(:last-child) {
  padding-bottom: 10px;
}

#resume-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: var(--font-size-small);

  cursor: pointer;
}

.socials-box {
  display: flex;
  /* width: 180px;
    padding: 10px;

    border-radius: 5px;
    border: rgba(255, 255, 255, 0.2) 1px solid;

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.02); */

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: space-between;
  width: 100%;
}

/* .socials-box > *:not(:first-child) {
  margin-left: 15px;
} */

.socials-box > * {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.socials-box > p > a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.socials-box > *:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.about-wrap {
  height: 80vh;
}

.tob-wrap * {
  line-height: 20px;
  letter-spacing: 1.3px;

  font-size: var(--font-size-small-v2);
  font-weight: 600;
}

.tob:not(.in-view) a {
  color: var(--color-grey);
  transition: color 0.2s;
}

.tob a:hover {
  color: rgba(255, 255, 255, 1);
  transition: color 0.2s;
}

.tob .in-view a {
  color: rgba(255, 255, 255, 1);
  transition: color 0.2s;
}

.caps {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.caps > * {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.box-wrapper {
  padding: var(--box-wrapper-padding);
  background-image: var(--box-wrapper-bg-img);
  opacity: 100%;
  border-radius: var(--box-wrapper-border-radius);
}

.box {
  display: flex;
  justify-content: space-between;
}

div:has(> .box-icon) {
  overflow: hidden;
}

.box-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: var(--box-icon-side-length);
  height: var(--box-icon-side-length);
  border-radius: var(--box-icon-border-radius);
}

div > .box-wrapper {
  margin-top: 0.9375rem;
}

div > div > .box-wrapper {
  opacity: 1;
  transition: 0.2s;
}

div
  > div:hover
  > .box-wrapper:not(.hide-hover-effects):has(> .box:not(:hover)) {
  opacity: 0.4;
  transition: 0.2s;
}

div > div:hover > .box-wrapper:not(.hide-hover-effects):has(> .box:hover) {
  background-color: rgba(213, 226, 255, 0.4);
  transition: 0.2s;
}

/* default box */
div > div > .box,
div > .section-grid > div > .box {
  opacity: 1;

  border-radius: var(--box-border-radius);

  border: rgba(255, 255, 255, 0.1) 1px solid;

  background-image: linear-gradient(
    var(--color-black) 30%,
    var(--color-black-light) 150%
  );
  backdrop-filter: blur(5px);

  padding: 20px;

  cursor: pointer;

  transition: opacity 0.2s, background-color 0.2s, border 0.2s;

  flex: 1;

  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.025);
}

/* hovered box */
.section-wrap > div:hover > div > .box:hover,
.section-wrap > div > .section-grid > div > .box:hover {
  opacity: 1;

  /* border: rgba(255, 255, 255, 0.2) 1px solid; */

  /* background-color: rgba(255, 255, 255, 0.05); */
  background-color: rgb(28, 28, 33);
  backdrop-filter: blur(5px);

  transition: 0.2s;
}

/* hovered box elements */
.section-wrap > div:hover > div > .box:hover > *,
.section-wrap > div > .section-grid > div > .box:hover > * {
  opacity: 1;
  transition: 0.2s;
}

.section-wrap:last-child {
  margin-bottom: 100px;
}

.section-grid {
  display: flex;
}

.section-grid > *:not(:last-child) {
  margin-right: 15px;
}

.box-left {
  /* border: 1px red solid; */
  margin-right: 10px;
}

.box:not(.project) > .box-left > *:not(:last-child) {
  padding-bottom: 10px;
}

.box:is(.project) > .box-left > div > *:not(:last-child) {
  padding-bottom: 10px;
}

.title {
  display: flex;
  font-weight: 500;
}

.date {
  font-style: italic;
  font-weight: 300;

  color: var(--color-dark-light-grey);

  font-size: var(--font-size-small);
}

.point {
  display: flex;
}

.point > p {
  color: var(--color-grey);
}

.point:first-child {
  margin-top: 10px;
}

.view-more-wrap {
  display: flex;

  margin-top: 30px;
  justify-content: center;
}

.view-more {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

  color: var(--color-grey);
  transition: 0.2s;

  cursor: pointer;

  font-size: var(--font-size-small);
  font-family: "Inter", sans-serif;
}

.view-more:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.2s;
}

.back-button {
  color: var(--color-grey);
  transition: 0.2s;

  cursor: pointer;

  font-size: var(--font-size-small);
  font-family: "Inter", sans-serif;
}

.back-button:hover {
  color: rgb(255, 255, 255);
}

.fade-line-start {
  margin-top: 10px;

  width: 100px;
  height: 1px;

  /* background: rgb(255, 255, 255); */
  background: linear-gradient(to left, var(--color-grey), rgba(255, 0, 0, 0));
}

.fade-line-end {
  margin-top: 10px;

  width: 100px;
  height: 1px;

  background: linear-gradient(to right, var(--color-grey), rgba(255, 0, 0, 0));
}

.folio {
  background-image: url("./assets/portofoliov1.png");
}

.mysips {
  background-image: url("./assets/mysipstitle-orange.png");
}

.outfitlb {
  background-image: url("./assets/outfit-title.png");
}

.polaparty {
  background-image: url("./assets/pp.png");
}

.devpost {
  background-image: url("./assets/devposttitle.png");
}

.gradient-text {
  background-image: linear-gradient(
    80deg,
    #c6cfe2 10%,
    #f1f4fb 40%,
    #9fa7b9 80%,
    #c9d2e5 100%
  );

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: inline-flex;

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  /* font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}

.boldest {
  font-weight: 900;
}

.bio-text {
  margin-top: 30px;
}

.title-tag-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;

  border-radius: 6px;
  padding: 1px;

  background-image: linear-gradient(
    -10deg,
    rgba(255, 255, 255, 1) -100%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
}

.title-tag {
  border: 1px rgba(255, 255, 255, 0.182) solid;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: var(--color-black);
  border-radius: 5px;
}

.title-tag * {
  color: var(--color-grey);
}

.title-tag p {
  font-size: var(--font-size-small);
}

.img-title-text {
  position: absolute;
  bottom: 20px;

  font-size: var(--font-size-xlarge);
  font-weight: bold;

  line-height: normal;
}
