@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Onest:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;

    /* 
    font-family: "Inter", sans-serif;
    font-family: "Space Grotesk", sans-serif; */

    text-decoration: none;
    color: #ffffff;
}

body {
    overflow-x: hidden;

    background: #322e2f;
    background: linear-gradient(to left, #032756 0%, #0e3d63 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00ADBD", endColorstr="#210CAE", GradientType=1 );
}

.main {
}

svg {
    width: 25px;
    height: 25px;
}

h1 {
    font-family: "Onest", sans-serif;
    font-size: 50px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 22px;

    margin-top: 10px;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;

    color: rgba(255, 255, 255, 0.6);

    margin-top: 20px;
}

p {
    font-family: "Inter", sans-serif;
}

.p-bold {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    opacity: 1;
}

div {
    /* border: black 1px solid; */
}

.main-right {
    display: flex;
    width: calc(100vw - (100vw - 100%));
}

.main-left {
    position: fixed;

    width: calc(((100vw - (100vw - 100%)) / 2) - 300px);

    padding-top: 100px;
    padding-left: 200px;
    padding-bottom: 100px;

    height: calc(100vh - 200px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-left > div:not(:first-child) {
    padding-top: 30px;
}

.left-space {
    width: 50vw;
}

.right-info {
    width: 50vw;
}

.right-info > div {
    padding-right: 200px;
    padding-top: 100px;
}

.project-title {
    font-size: 20px;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
}

.project-img {
    height: auto;
    width: 300px;

    margin-left: 20px;

    background-color: rgb(255, 255, 255);

    border-radius: 5px;
}

.projects-wrap {
    height: 80vh;
}

.project-box {
    display: flex;

    border: rgba(255, 255, 255, 0.2) 1px solid;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.02);

    margin-top: 10px;
    padding: 20px;

    transition: border 0.2s;
}

.project-text > *:not(:last-child) {
    padding-bottom: 10px;
}

.project-box > .project-text > p {
    opacity: 0.6;
    transition: opacity 0.2s;
}

.project-box:hover {
    border: rgba(255, 255, 255, 0.8) 1px solid;

    transition: border 0.2s;
}

.project-box:hover > p {
    opacity: 1;
    transition: opacity 0.2s;
}

.description {
    font-size: 14px;
    font-weight: 300;

    line-height: 22px;
}

.tags {
    display: flex;
    flex-wrap: wrap;

    margin-top: 10px;
}

.tags > p {
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.2);

    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;

    margin-right: 5px;

    border-radius: 5px;
}

.experience-wrap {
    height: 120vh;
}

.bio-wrap {
}

.section-title {
    line-height: 20px;
    letter-spacing: 1.3px;

    font-size: 13px;
    font-weight: 600;

    color: rgba(255, 255, 255, 0.6);
}

.tob-wrap {
    padding-left: 10px;
}

.tob-wrap > div:not(:last-child) {
    padding-bottom: 5px;
}

.socials-wrap {
    display: flex;
}

.socials-wrap > *:not(:first-child) {
    margin-left: 15px;
}

.socials-wrap > * {
    opacity: 0.6;
    transition: opacity 0.2s;
}

.socials-wrap > *:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.about-wrap {
    height: 80vh;
}

.involvement-wrap {
    height: 100vh;
}

.tob-wrap * {
    line-height: 20px;
    letter-spacing: 1.3px;

    font-size: 13px;
    font-weight: 600;
}

.tob:not(.in-view) a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s;
}

.tob a:hover {
    color: rgba(255, 255, 255, 1);
    transition: color 0.2s;
}

.tob .in-view a {
    color: rgba(255, 255, 255, 1);
    transition: color 0.2s;
}

.caps {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

.caps > * {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

#experience > div > .exp-box {
    opacity: 1;

    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);

    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    margin-top: 10px;
    padding: 20px;

    cursor: pointer;

    transition: opacity 0.2s, background-color 0.2s, border 0.2s;
}

#experience > div:hover > .exp-box {
    opacity: 0.5;
    transition: opacity 0.2s;
}

#experience > div:hover > .exp-box:hover {
    opacity: 1;

    border: 1px solid rgba(255, 255, 255, 0.2);

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    transition: opacity 0.2s, background-color 0.2s, border 0.2s;
}

/* #experience > div:hover > .exp-box:hover > .point > p {
    color: rgba(255, 255, 255, 1);
} */

.exp-box > *:not(:last-child) {
    padding-bottom: 10px;
}

.exp-title {
    display: flex;
    font-weight: 500;
}

.exp-date {
    font-style: italic;
    font-weight: 300;

    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
}

.point {
    display: flex;
}

.point > p {
    color: rgba(255, 255, 255, 0.6);
}

.point:first-child {
    margin-top: 10px;
}
