@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Onest:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;

    /* 
    font-family: "Inter", sans-serif;
    
    font-family: "Space Grotesk", sans-serif; */

    text-decoration: none;
    color: #ffffff;

    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

    /* background: rgb(15, 15, 15); */
}

/* @media only screen and (max-width: 1612px) {
    * {
        color: black;
    }
} */

.background {
    /* background-image: url(assets/blue-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center; */

    background-color: rgb(7, 7, 12);

    width: 100vw;
    height: 100vh;

    position: fixed;

    z-index: -99;
}

.main {
    padding-left: 10vw;
    padding-right: 10vw;
}

svg {
    width: 25px;
    height: 25px;
}

h1 {
    /* font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
        Helvetica Neue, Arial, sans-serif; */
    font-family: "Inter", sans-serif;
    font-size: 50px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 22px;

    margin-top: 10px;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;

    color: rgba(255, 255, 255, 0.8);

    margin-top: 30px;
}

p {
    font-family: "Inter", sans-serif;
    z-index: 99;
    position: relative;
}

.p-bold {
    font-weight: 500;
    /* color: rgba(255, 255, 255, 1); */
    opacity: 1;
}

.main-right {
    display: flex;
    /* width: calc(100vw - (100vw - 100%)); */
}

.main-left {
    position: fixed;
    /* width: calc(((100vw - (100vw - 100%)) / 2) - 40vw); */

    width: 35vw;
    padding-top: 100px;
    /* padding-left: 300px; */
    padding-bottom: 100px;

    height: calc(100vh - 200px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-left > div:not(:first-child) {
    padding-top: 30px;
}

.left-space {
    width: 50vw;
}

.right-info {
    width: 50vw;
}

.project-title {
    font-size: 16px;
    font-weight: 600;
    /* font-family: "Space Grotesk", sans-serif; */
}

.img {
    height: auto;
    min-width: 300px;

    margin-left: 20px;

    /* background-image: ; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


    border-radius: 5px;

    margin: -20px;

}

.projects-height {
    height: 100vh;
}

.project {
    display: flex;
    justify-content: space-between;
}

.description {
    font-size: 14px;
    font-weight: 300;

    line-height: 22px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags > p {
    font-size: 12px;

    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;

    margin-top: 5px;
    margin-right: 5px;

    border-radius: 5px;
}

.tags > p:not(.important) {
    background-color: rgba(255, 255, 255, 0.15);
}

.tags > p.important {
    background-color: rgba(255, 255, 255, 0.15);
}

.section-wrap {
    width: 40vw;
    padding-top: 100px;
    /* height: 120vh; */
}

.section-title {
    line-height: 20px;
    letter-spacing: 1.3px;

    font-size: 13px;
    font-weight: 600;

    color: rgba(255, 255, 255, 0.6);
}

.tob-wrap {
    margin-top: 40px;
    padding-left: 10px;
}

.tob-wrap > div:not(:last-child) {
    padding-bottom: 5px;
}

#resume-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;

    cursor: pointer;
}

.socials-box {
    display: flex;
    width: 180px;
    padding: 10px;

    border-radius: 5px;
    border: rgba(255, 255, 255, 0.2) 1px solid;

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.02);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.socials-box > *:not(:first-child) {
    margin-left: 15px;
}

.socials-box > * {
    opacity: 0.6;
    transition: opacity 0.2s;
}

.socials-box > p > a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.socials-box > *:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.about-wrap {
    height: 80vh;
}

.tob-wrap * {
    line-height: 20px;
    letter-spacing: 1.3px;

    font-size: 13px;
    font-weight: 600;
}

.tob:not(.in-view) a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s;
}

.tob a:hover {
    color: rgba(255, 255, 255, 1);
    transition: color 0.2s;
}

.tob .in-view a {
    color: rgba(255, 255, 255, 1);
    transition: color 0.2s;
}

.caps {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

.caps > * {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

.box-wrapper {
    padding: 1px;
    background-image: linear-gradient(
        -15deg,
        rgba(255, 255, 255, 0.3) -100%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.4) 100%
    );
    opacity: 100%;
    border-radius: 6px;
    
}

.box {
    display: flex;
    justify-content: space-between;
}

div:has(> .box-icon) {
    /* border: 1px red solid; */
    overflow:hidden;
}

.box-icon {
    /* background-image: url('assets/icons/conetec-icon.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    min-width: 50px;
    height: 50px;

    border-radius: 8px;
/* 
    box-shadow: 
        0px -50px 30px 30px rgba(7, 7, 12, 1),
        10px -50px 30px 30px rgba(7, 7, 12, 1),
        -10px -50px 30px 30px rgba(7, 7, 12, 1),
        0px 0px 8px 8px rgba(255, 255, 255, 0.5); */
}

div > .box-wrapper {
    margin-top: 15px;
}

div > div:hover > .box-wrapper:has(> .box:not(:hover)) {
    opacity: 0.4;
    transition: 0.2s;
}

/* default box */
div > div > .box,
div > .section-grid > div > .box {
    opacity: 1;

    border-radius: 5px;

    /* border: rgba(255, 255, 255, 0.1) 1px solid; */

    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: rgb(7, 7, 12);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.02);

    padding: 20px;

    cursor: pointer;

    transition: opacity 0.2s, background-color 0.2s, border 0.2s;

    flex: 1;

    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.02);
}

/* not hovered box */
/* div:hover > div > .box,
div:hover > .section-grid > div > .box {

    border: rgba(255, 255, 255, 0.2) 1px solid;

    background-color: rgb(38, 38, 38);
    backdrop-filter: blur(5px);

    transition: 0.2s;
} */

/* not hovered box elements */
/* div:hover > div > .box > *,
div:hover > .section-grid > div > .box > * {
    opacity: 0.4;

    transition: 0.2s;
} */

/* hovered box */
.section-wrap > div:hover > div > .box:hover,
.section-wrap > div > .section-grid > div > .box:hover {
    opacity: 1;

    border: rgba(255, 255, 255, 0.2) 1px solid;

    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: rgb(65, 65, 65);
    backdrop-filter: blur(5px);

    transition: 0.2s;
}

/* hovered box elements */
.section-wrap > div:hover > div > .box:hover > *,
.section-wrap > div > .section-grid > div > .box:hover > * {
    opacity: 1;
    transition: 0.2s;
}

.section-wrap:last-child {
    margin-bottom: 100px;
}

.section-grid {
    display: flex;
}

.section-grid > *:not(:last-child) {
    margin-right: 10px;
}

/* .section-wrap > div:hover > .box:hover > .point > p {
    color: rgba(255, 255, 255, 1);
} */

.box-left {
    /* border: 1px red solid; */
    margin-right: 10px;
}

.box:not(.project) > .box-left > *:not(:last-child) {
    padding-bottom: 10px;
}

.box:is(.project) > .box-left > div > *:not(:last-child) {
    padding-bottom: 10px;
}

.title {
    display: flex;
    font-weight: 500;
}

.date {
    font-style: italic;
    font-weight: 300;

    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
}

.point {
    display: flex;
}

.point > p {
    color: rgba(255, 255, 255, 0.6);
}

.point:first-child {
    margin-top: 10px;
}

.view-more-wrap {
    display: flex;

    margin-top: 30px;
    justify-content: center;
}

.view-more {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s;

    cursor: pointer;
}

.view-more:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.2s;
}

.fade-line-start {
    margin-top: 10px;

    width: 100px;
    height: 1px;

    /* background: rgb(255, 255, 255); */
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.6),
        rgba(255, 0, 0, 0)
    );
}

.fade-line-end {
    margin-top: 10px;

    width: 100px;
    height: 1px;

    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.6),
        rgba(255, 0, 0, 0)
    );
}

.folio {
    background-image: url("./assets/portofoliov1.png");
}

.mysips {
    background-image: url("./assets/mysipstitle-orange.png");
}

.outfitlb {
    background-image: url("./assets/outfit-title.png");
}

.polaparty {
    background-image: url("./assets/pp.png");
}

.devpost {
    background-image: url("./assets/devposttitle.png");
}


.gradient-text {
  background-image: linear-gradient(80deg,#a5b1b9 10%, #ffffff 40%, #abb9bb 80%, #b8c2c7 100%);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 

  display:inline-flex;

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  /* font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}

.boldest {
    font-weight: 900;
}

/* .bio-text {
    box-shadow: 0 1px 0 #ffffff32 inset;
} */