@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Onest:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    /* 
    font-family: "Inter", sans-serif;
    font-family: "Space Grotesk", sans-serif; */

    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: black;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00ADBD", endColorstr="#210CAE", GradientType=1 );
}

.main {
}

h1 {
    font-family: "Onest", sans-serif;
    font-size: 50px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    opacity: 0.8;
}

p {
    font-family: "Inter", sans-serif;
}

div {
    /* border: black 1px solid; */
}

.main-right {
    display: flex;
    width: calc(100vw - (100vw - 100%));
}

.main-left {
    position: fixed;
    width: calc(((100vw - (100vw - 100%)) / 2) - 200px);
}

.main-left {
    padding: 100px;
}

.main-left > div:not(:first-child) {
    padding-top: 50px;
}

.left-space {
    width: 50vw;
}

.right-info {
    width: 50vw;
}

.right-info > div {
    padding: 100px;
}

.projects-wrap {
    height: 80vh;
}

.project-box {
    border: rgba(255, 255, 255, 0.2) 2px solid;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.02);

    margin-top: 10px;
    padding: 20px;

    transition: border 0.2s;
}

.project-box > *:not(:last-child) {
    padding-bottom: 30px;
}

.project-box > p {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.project-box:hover {
    border: rgba(255, 255, 255, 0.8) 2px solid;

    transition: border 0.2s;
}

.project-box:hover > p {
    opacity: 1;
    transition: opacity 0.2s;
}

.description {
    font-size: 14px;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
}

.project-tags > p {
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.2);

    padding: 5px;
    margin-right: 5px;

    border-radius: 5px;
}

.experience-wrap {
    height: 80vh;
}

.bio-wrap {
}

.tob-wrap {
}

.tob-wrap > div:not(:last-child) {
    padding-bottom: 5px;
}

.socials-wrap {
    display: flex;
}

.about-wrap {
    height: 80vh;
}

.involvement-wrap {
    height: 100vh;
}

.tob:not(.in-view) a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s;
}

.tob a:hover {
    color: rgba(255, 255, 255, 1);
    transition: color 0.2s;
}

.tob .in-view a {
    color: rgba(255, 255, 255, 1);
    transition: color 0.2s;
}

.caps {
    font-family: "Onest", sans-serif;
    font-size: 15px;
}

.caps > * {
    font-family: "Onest", sans-serif;
    font-size: 15px;
}

.exp-box {
    margin-top: 10px;
}

.exp-title {
    display: flex;
}

.exp-box {
    border: rgba(255, 255, 255, 0.2) 2px solid;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.02);

    margin-top: 10px;
    padding: 20px;

    transition: border 0.2s;
}

.exp-box > *:not(:last-child) {
    padding-bottom: 30px;
}
